*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(46, 91, 121);
}

.container-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 170px;
}

.buscador{
    height: 29px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
    outline: none;
}

.bus-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus-boton{
    height: 30px;
    width: 80px;
    font-size: 15px;
    background-color: rgb(165, 40, 40);
}

.img-boton{
    width: 20px;
    height: 20px;
}

.titulo{
    color: rgb(226, 224, 224);
    font-size: 45px;
    font-weight:bolder;
    text-transform: capitalize;
    text-shadow: 2px 5px #000;
}

.logo{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

/* main */

main{
    background-image: url("../imagenes/fondo-compra.jpg");
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.form{
    font-size: 25px;
    margin-bottom: 15px;
}

.peli{
    height: 40rem;
    width: 30rem;
    margin-right: 80px;
}

.inputs{
    padding: 30px;
    background-color: rgb(59, 95, 124);
    height: 500px;
    width: 400px;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    
}

.container-boton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.boton{
    
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.error{
    width: 290px;
    text-align: center;
    margin: auto;
    color: #000;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


